* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

#navbar {
  padding: 0.5rem 5rem;
  background-color: #1E88E5;
}
#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#navbar ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
}
#navbar ul li a {
  color: inherit;
  text-decoration: none;
}
#navbar ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#navbar ul .active {
  font-weight: 600;
  border-bottom: 3px solid #ffffff !important;
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#home .hero-section {
  padding: 3rem 0;
}
#home .hero-section h1 {
  color: #1565C0;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#home .hero-section p {
  width: 50%;
}
#home .kpi-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
#home .charts .chart {
  margin-bottom: 3rem;
}
#home .charts .chart .chart-title {
  color: #1E88E5;
}
#home .charts .chart .chart-insights {
  padding: 0 1rem;
}
#home .charts .chart .chart-insights ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#home .charts .chart .chart-insights ul li {
  padding: 1rem;
  border-radius: 5px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#analytics-dashboard .select-filters {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#analytics-dashboard .select-filters .filter {
  width: 30% !important;
  border: none !important;
  z-index: inherit;
}
#analytics-dashboard .map {
  margin: auto;
  width: 96%;
  height: 80vh;
}

#file-complaints {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#file-complaints .complaint-form {
  margin: 2rem 2rem;
  padding: 2rem 2rem 1rem;
  width: 96%;
  border-radius: 5px;
}
#file-complaints .complaint-form .row {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
#file-complaints .complaint-form .row .input-field {
  flex: 1 1 calc(50% - 1rem);
}
#file-complaints .complaint-form .row .input-field input,
#file-complaints .complaint-form .row .input-field textarea {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 1.2rem;
}
#file-complaints .complaint-form .row .input-field input:hover, #file-complaints .complaint-form .row .input-field input:active, #file-complaints .complaint-form .row .input-field input:focus,
#file-complaints .complaint-form .row .input-field textarea:hover,
#file-complaints .complaint-form .row .input-field textarea:active,
#file-complaints .complaint-form .row .input-field textarea:focus {
  border-color: #1E88E5;
}
#file-complaints .complaint-form .row .input-field input:disabled,
#file-complaints .complaint-form .row .input-field textarea:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}
#file-complaints .complaint-form .row .input-field .options {
  width: 100%;
}
#file-complaints .complaint-form .row button {
  flex: 1 1 calc(50% - 1rem);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
}
#file-complaints .complaint-form .row button:nth-child(2) {
  color: #ffffff;
  background-color: #1E88E5;
  border: 1px solid #1565C0;
}
#file-complaints .complaint-form .row button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

/* Utility */
.paper {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.paper-1 {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px 2px 3px rgba(0, 0, 0, 0.2);
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-field input::placeholder,
.input-field textarea::placeholder {
  color: #000000;
  opacity: 0.5;
}
.input-field .helper-text {
  color: #E53935;
  font-size: small;
  text-align: left !important;
  margin-top: 0.5%;
  margin-left: 2%;
  opacity: 0.5;
}
