@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $black;
  background-color: $bg-primary;
}

#navbar {
  padding: 0.5rem 5rem;
  background-color: $primary-color;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: $white;
      font-size: 1.2rem;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        border-bottom: 3px solid $white-transparent-20;
      }
    }

    .active {
      font-weight: 600;
      border-bottom: 3px solid $white !important;
    }
  }
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 30%
    ),
    url("../assets/maharashtra.png") no-repeat top center;
  background-size: 100% auto;

  .hero-section {
    margin: 12rem 0 3rem;
    padding: 3rem 0;

    h1 {
      color: $primary-color-dark;
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    p {
      width: 50%;
      font-size: 1.2rem;
    }
  }

  .kpi-section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    .kpi {
      h3 {
        color: $secondary-color-dark;
        font-size: 1.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .charts {
    .chart {
      margin-bottom: 3rem;

      .chart-title {
        color: $primary-color;
      }

      .chart-insights {
        padding: 0 1rem;

        ul {
          margin-top: 1rem;
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 2rem;

          li {
            padding: 1rem;
            border-radius: 5px;
            background-color: $gray-200;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

#analytics-dashboard {
  .select-filters {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .filter {
      width: 30% !important;
      border: none !important;
      z-index: inherit;
    }
  }

  .map {
    margin: auto;
    width: 96%;
    height: 80vh;
  }
}

#complaints-list {
  display: flex;
  flex-direction: column;

  .filters {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .select-filters {
      flex: 1 1 calc(50% - 1rem);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .filter {
        flex: 1 1 calc(50% - 1rem);
        border: none;
        z-index: inherit;
      }
    }

    input {
      flex: 1 1 calc(50% - 1rem);
      font-size: 1rem;
      outline: none;
      border: none;
      border-bottom: 2px solid $primary-color-dark;
    }
  }

  p {
    margin: 1rem;
  }

  .complaints-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-x: auto;

    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #ddd;
    }

    .complaints-header {
      font-weight: bold;
      background-color: #f5f5f5;
    }

    .complaint-row:hover {
      background-color: #fafafa;
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

#file-complaint {
  display: flex;
  flex-direction: column;
  align-items: center;

  .complaint-form {
    margin: 2rem 2rem;
    padding: 2rem 2rem 1rem;
    width: 96%;
    border-radius: 5px;

    .row {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;

      .input-field {
        flex: 1 1 calc(50% - 1rem);

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          outline: none;
          border: none;
          border-bottom: 1px solid $black;
          font-size: 1.2rem;

          &:hover,
          &:active,
          &:focus {
            border-color: $primary-color;
          }

          &:disabled {
            cursor: not-allowed !important;
            opacity: 0.6;
          }
        }

        .options {
          width: 100%;
        }
      }

      button {
        flex: 1 1 calc(50% - 1rem);
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
        padding: 0.6rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:nth-child(2) {
          color: $white;
          background-color: $primary-color;
        }

        &:disabled {
          cursor: not-allowed !important;
          opacity: 0.6;
        }
      }
    }
  }
}

/* Utility */
.paper {
  box-shadow: 2px 2px 5px $black-transparent-20,
    -2px 2px 5px $black-transparent-20;
}

.paper-1 {
  box-shadow: 2px 2px 3px $black-transparent-20,
    -2px 2px 3px $black-transparent-20;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input::placeholder,
  textarea::placeholder {
    color: $black;
    opacity: 0.5;
  }

  .helper-text {
    color: $error;
    font-size: small;
    text-align: left !important;
    margin-top: 0.5%;
    margin-left: 2%;
    opacity: 0.5;
  }
}
